// Specific CSS for your home-page
.banner-image{
    height: 300; width: 400; crop: fill;
    }
    
.title {
    color: #616668;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
    }
    
.row-main {
        // display: flex;
        width: 100%
    }
    
// .column-main {
//     float: left;
// }

.left-main {
    width: 100%;
}

.right-main {
    margin-top: 100 px;
    width: 100%;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}