<div class="container">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1511871893393-82e9c16b81e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f297e6bc6690c1da3678357d3de0ad78&auto=format&fit=crop&w=1050&q=80');">
    <div class="banner-content">
      <h1>Here are your bookings:</h1>
      <ul>
        <% @bookings.each do |booking| %>
          <li><%= booking.flat.name %></li>
          <li>Your stay is for <%= booking.period %> days</li>
          <li>You pay for <%= booking.value %> it.</li>
          <li>The status of this booking is <%= booking.status %>;</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



