<div class=container>
  <div class="row">
    <div class="col-xs-8">

  <% if @flat.photo? %>
    <div class="banner banner-image" style="background-image: url('<%= cl_image_path @flat.photo %>');">
  <% else %>
      <div class="banner banner-image" style="background-image: url('<%= image_path("example.png")%>');">
  <% end %>
      <div class="banner-content uptext">
        <h2><%= @flat.name %></h2>
      </div>
      <%= render 'form' %>
 /<div>
</div>


