.banner {
  color: black;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: 500;
  color: black;
  // opacity: 0.6;
  margin-bottom: 30px;
}

// style h2 for new flat added
.title-create {
  color: white;
  text-shadow: 1px 1px 1px black;
  padding-bottom: 25px;
}

.banner-one {
  color: black;
  text-align: center;
  height: 75vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-one h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner-one p {
  font-size: 25px;
  font-weight: 500;
  color: black;
  // opacity: 0.6;
  margin-bottom: 30px;
}
