/* line 48, /Users/fran/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_scaffolding.scss */
a {
    color: white;
    text-decoration: none;
  }
  /* line 52, /Users/fran/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_scaffolding.scss */
  a:hover, a:focus {
    /*! color: #1f74ba; */
    text-decoration: none;
  }

p {
  color: black;
}
