.card {
  border-radius: 0px;
  box-shadow: 3px 3px 3px darkgrey;
  margin: 5px 5px;
  height: 150px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  opacity: 0.9;
  position: relative;
  transform-origin: center;
  transition: .5s;
}
.card:hover {
  opacity: 1.0;
  transform: scale(1.05, 1.05);
}
.card-booking {
  border-radius: 3px;
  border: 1px solid grey;
  margin: 5px 5px;
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  opacity: 0.9;
  position: relative;
  text-align: left;
  a {
    color: black;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 40px;
    letter-spacing: 3px;
    // text-align: center;
  }
}

.card-descr p {
  color: black;
  font-size: 20px;
  padding-left: 25px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.banner .title-booking {
  color: white;
  // color: #c2d8ea;
  text-shadow: 1px 1px 1px black;
  padding-bottom: 25px;
  font-size: 50px;
}

// .card:hover .card-description h2 {
//   font-size: xx-large;
// }

//   opacity: 0.1;
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
  color: white !important;
  text-shadow: 2px 2px 2px black;
}
.card-description p {
  font-size: 14px;
  opacity: 1;
  font-weight: lighter;
  color: white  ;
  text-shadow: 1px 1px 2px black;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-one {
  border-radius: 10px;
  margin: 10px 10px;
  height: 20vh;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  opacity: 0.8;
  transform-origin: center;
  transition: .5s;
  text-align: center;
}

.card-one h1{
  font-size:65px;
}

.card-one h4{
  text-color: black;
}

.inline {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: -33px;
  margin-left: 40px;
}

.registration {
  width: 100vw;
  justify-content: space-between;
  color: black !important;
  text-align: center;
}


// .flex-container {
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-flex-direction: row;
//     -ms-flex-direction: row;
//     flex-direction: row;
//     -webkit-flex-wrap: wrap;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -webkit-align-content: center;
//     -ms-flex-line-pack: center;
//     align-content: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;

//     border-radius: 0px;
//     box-shadow: 3px 3px 3px darkgrey;
//     // margin: 5px 5px;
//     // height: 150px;
//     width: 350px;
//     // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//     a {
//       color: black;
//       font-size: 12px;
//     }
//     }

// .flex-item:nth-child(1) {
//     -webkit-order: 0;
//     -ms-flex-order: 0;
//     order: 0;
//     -webkit-flex: 2 1 auto;
//     -ms-flex: 2 1 auto;
//     flex: 2 1 auto;
//     -webkit-align-self: stretch;
//     -ms-flex-item-align: stretch;
//     align-self: stretch;

//     background-size: cover;
//     background-position: center !important;
//     opacity: 0.9;
//     // position: relative;
//     // transform-origin: center;
//     // transition: .5s;

//     }

// .flex-item:nth-child(2) {
//     -webkit-order: 0;
//     -ms-flex-order: 0;
//     order: 0;
//     -webkit-flex: 1 1 auto;
//     -ms-flex: 1 1 auto;
//     flex: 1 1 auto;
//     -webkit-align-self: stretch;
//     -ms-flex-item-align: stretch;
//     align-self: stretch;
//     }

